.top-nav {
    background-color: #ffffff;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .centered-text {
    text-align: center;
  }
  
  .highlighted {
    color: #800080;
  }
  
  .bottom-section {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  .navigation {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  .navigation li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .right-section {
    display: flex;
    gap: 10px;
  }
  
  .theme {
    color: #ffffff;
  }
  
  .search-bar input[type="text"] {
    padding: 5px;
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: #ffffff;
    border: none;
    color: #000000;
  }
  
  .login, .signup {
    color: #ffffff;
  }